<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.shinhan.board">
    <select id="selectAll" resultType="boardVO">
        select * from tbl_board order by 1 desc
    </select>

    <select id="selectById" resultType="boardVO" parameterType="long">
        select * from tbl_board where board_no = #{boardId}
    </select>

    <insert id="insert" parameterType="boardVO">
        insert into tbl_board
            (board_no, title, content, writer
            ,pic)
        values
            (seq_board.nextval, #{title}, #{content}, #{writer}, #{pic})
    </insert>
    <update id="update" parameterType="boardVO">
        update tbl_board set
            title = #{title},
            content  = #{content},
            writer = #{writer},
            pic = #{pic}
        where board_no = #{board_no}
    </update>
    <delete id="delete" parameterType="long">
        delete from tbl_board where board_no = #{board_no}
    </delete>
</mapper>